$names: (
    "logo", 
    "crying-cat"
);
$count_px: 500;
@mixin pic-list-px {
    @each $name in $names {
        @for $i from 1 through $count_px {
            .pic-#{$name}-#{$i}px {
                width: #{$i}px;
                height: #{$i}px;
                background: url(/assets/pics/#{$name}.png) center center no-repeat;
                background-size: #{$i}px;
            }
        }
    }
}
@include pic-list-px;

$count_vw: 500;
@mixin pic-list-vw {
    @each $name in $names {
        @for $i from 1 through $count_vw {
            .pic-#{$name}-#{$i}vw {
                width: #{$i}vw;
                height: #{$i}vw;
                background: url(/assets/pics/#{$name}.png) center center no-repeat;
                background-size: #{$i}vw;
            }
        }
    }
}
@include pic-list-vw;