$format: "woff2"; // eot, woff, woff2
$fonts-path: "/assets/fonts/#{$format}/";
$prefix: "app-jbmono-";
$data: (
    ("bi",  "Bold-Italic"),
    ("b",   "Bold"),
    ("xbi", "ExtraBold-Italic"),
    ("xb",  "ExtraBold"),
    ("i",   "Italic"),
    ("mi",  "Medium-Italic"),
    ("m",   "Medium"),
    ("r",   "Regular"),
);

@each $key, $name in $data {
    @font-face {
        font-family: #{$prefix}#{$key};
        src: url("#{$fonts-path}JetBrainsMono-#{$name}.#{$format}") format("#{$format}");
    }
    .#{$prefix}#{$key} {
        font-family: #{$prefix}#{$key}, monospace;
    }
}